/.vsconfig
/.vs
/Library
/Logs
/obj
/Temp
/AndroidRuntimePermissions.Runtime.csproj
/Assembly-CSharp.csproj
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp-Editor-firstpass.csproj
/Assembly-CSharp-firstpass.csproj
/BasePackage.sln
/Sirenix.OdinInspector.CompatibilityLayer.csproj
/Sirenix.OdinInspector.CompatibilityLayer.Editor.csproj
/Sirenix.OdinInspector.Modules.UnityMathematics.csproj
/UnityEditor.UI.csproj
/UnityEditor.UI.EditorTests.csproj
/UnityEngine.UI.csproj
/UnityEngine.UI.Tests.csproj
/*.apk
